
h1{
       
    font-weight: lighter;
    font-size: 60px;
    color: yellow;
    margin: 0;
    padding-left: 10px;
        }
        p{
            padding-left: 5px;
            font-size: 30px;
            font-weight: lighter;
            color: white;
            margin: 0;
    
        }
        h2{
             font-weight: lighter;
            font-size: 40px;
            color: yellow;
            margin: 0;
            padding-left: 10px;

        }
        b{
            font-weight: lighter;
            font-size: 25px;
            color:white;
            margin: 0;
            padding-left: 10px;
        }
        *{

   margin: 0;
  
   padding: 0;
  
   box-sizing: border-box;
  
  }
  
  
  
  .dropdown{
  
      margin: 0 auto;
      background-image:url(images/Website.jpg) ;
      background-position: center center;
      -webkit-background-size: cover ;
      background-size: cover;
      height: 100vh;
  
  }
  
  nav{
  
      height: 65px;
  
      background-color:#0a9395 ;
  
      box-shadow: 0 10px 15px rgba(0,0,0,0.1);
      text-align:justify;
      font-size: 30px;
     
  }
  
  .logo{
   width: 4rem;
   float: left;
   margin-top:2em ;
   clip-path: circle(45.4% at 50% 50%);
     
      width: 70px;
  
      display: inline;
  
      margin-top: -5px;
  
      margin-left: 10px;
     
  }
  
  nav ul{
  
      padding: 0;
  
      margin: 0;
  
      float: right;
  
      margin-right: 25px;
  
  }
  
  nav ul li{
   background:#0a9395  ;
      
  
      position: relative;
  
      list-style: none;
  
      display: inline-block;
  
  }
  
  nav ul li a{
  
      display: flex;
  
      padding: 0 15px;
  
      color:black;
  
      text-decoration: none;
  
      line-height: 65px;
  
      font-size: 25px;
  
      justify-content: space-between;
  
      align-items: center;
  
      text-align: center;
  
  }
  
  nav ul li a:hover{
  
      background:#0c5454;
  
  }
  
  nav ul ul{
  
      position: absolute;
  
      top: 60px;
  
      display: none;
  
  }
  
  nav ul li:hover > ul{
  
      display: block;
  
  }
  
  nav ul ul li{
  
      width:150px;
  
      float: none;
  
      display: list-item;
  
      position: relative;
  
  }

 